.mapPage{
    display: flex;
    flex-direction: row;
    overflow: hidden;

}

.map{
    flex: 1;
}

.detail_container{
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: auto;
    
}

.image_container{
    position: relative;
    text-align: center;
}

.title{
    position: absolute;
    top: 80%;  
    left: 50px; 
    color: white;
    font-size: 32px;
}


.post_info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 30px;
    padding-left: 50px;
    padding-right: 50px;
}


.user_info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}

.user_name_date{
    display: flex;
    flex-direction: column;

}

.like_info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.detail_plan{
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    padding-right: 50px;
}

.day_plan{
    padding-top: 40px;
}

.day_plan h1{
    font-size: 30px;
}

.card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.location_description{
    display: flex;
    flex-direction: column;
}

.description{
    font-size: 30px;
}
