.card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.location_description{
    display: flex;
    flex-direction: column;
}

.description{
    font-size: 15px;
}

.location_image{
    max-width: 175px;
    max-height: 175px;
}
